---
// Import PrimaryCTA component for use in this module
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import Icon from "@components/ui/icons/Icon.astro";
import HeadingIcon from "@components/ui/icons/HeadingIcon.astro";

// Define props from Astro
const { pricing } = Astro.props;
---



<section
  class="mx-auto max-w-[85rem] px-4 py-30 sm:px-6 lg:px-8 2xl:max-w-full"
>
  <!-- Section heading and sub-heading -->
  <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
    <h2
      class="text-balance text-4xl leading-tight tracking-tight text-gray-700"
    >
      {pricing.title}
    </h2>
    <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
      {pricing.subTitle}
    </p>
  </div>
  <!-- Contains the work-together plan cards -->
  <div class="grid gap-4 sm:grid-cols-3 sm:gap-6">
    {
      pricing.plans.map((plan: { name: string; description: string; icon: string; features: string[] }, index: number) => (
        <div
          class={`flex w-full flex-col rounded-xl p-6 sm:p-8 ${
            index === 1
              ? "bg-gradient-to-tr from-[#2A3A8F] to-[#2198F9] shadow-xl"
              : "bg-gray-800"
          }`}
        >
          <div class="mb-4 text-center">
            <HeadingIcon d={plan.icon} color="#fff" size="3.875rem" centered />
            <h3 class="mt-2 text-3xl font-normal text-neutral-100">{plan.name}</h3>
            <p class="text-lg text-indigo-300">{plan.description}</p>
          </div>

          <ul class="space-y-2 text-neutral-100">
            {plan.features.map((feature: string) => (
              <li class="flex items-start gap-1.5">
                <Icon name="checkCircle" />
                <span>{feature}</span>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
  <!-- Call to action for Enterprise Solutions -->
  <div class="mt-8 flex items-center justify-center gap-x-3 md:mt-12">
    <p class="text-lg text-neutral-600 dark:text-neutral-400">
      {pricing.thirdOption}
    </p>

    <PrimaryCTA title="Book a call" url="/contact" />
  </div>
</section>
