---
import { Image } from "astro:assets";
import headshot from "@images/blog/david-montana-headshot.jpg";

const { title, btnId, btnTitle, url } = Astro.props;

interface Props {
  title?: string;
  btnId: string;
  btnTitle: string;
  url: string;
}
---

<astro-banner btnId={btnId}>
  <div
    class="fixed bottom-0 start-1/2 z-50 mx-auto w-full -translate-x-1/2 transform p-6 sm:max-w-2xl"
    role="region"
    aria-label="Informational Banner"
  >
    <div
      class="flex items-center gap-3 rounded-full border border-white/10 bg-neutral-900/80 p-2 ps-2 pe-3 shadow-[0_10px_15px_-3px_rgba(0,0,0,0.1),0_4px_6px_-2px_rgba(0,0,0,0.05)] backdrop-blur-md"
    >
      <Image
        src={headshot}
        alt="David Montana"
        class="h-10 w-10 shrink-0 rounded-full object-cover ring-2 ring-blue-primary"
        width={40}
        height={40}
      />
      {title && (
        <p class="grow text-pretty text-sm font-medium text-neutral-50">
          {title}
        </p>
      )}
      <a
        class="shrink-0 rounded-full bg-white px-4 py-2 text-sm font-semibold text-neutral-900 transition duration-300 hover:bg-neutral-200 disabled:pointer-events-none disabled:opacity-50"
        href={url}
      >
        {btnTitle}
      </a>
      <button
        type="button"
        class="shrink-0 rounded-full p-2 text-neutral-400 transition duration-300 hover:text-neutral-50 disabled:pointer-events-none disabled:opacity-50"
        id={btnId}
      >
        <span class="sr-only">Dismiss</span>
        <svg
          class="size-5 shrink-0"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
        >
      </button>
    </div>
  </div>
</astro-banner>
<script>
  class AstroBanner extends HTMLElement {
    connectedCallback() {
      const btnId = this.getAttribute("btnId");
      const button = this.querySelector(`#${btnId}`);
      if (button != null) {
        button.addEventListener("click", () => this.remove());
      }
    }
  }

  customElements.define("astro-banner", AstroBanner);
</script>
