---
// Import all required components and utilities
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import AvatarBlogLarge from "@components/ui/avatars/AvatarBlogLarge.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";

const { blogEntry, recentBlogLocale = "" } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
  recentBlogLocale?: string;
}
---

<!-- Root container, which is divided into 2 grid column layout for larger screens -->
<div class="grid gap-8 sm:grid-cols-2 sm:items-center">
  <!-- Container for the blog post's cover image -->
  <div class="sm:order-2">
    <div class="relative rounded-lg pt-[50%] sm:pt-[100%]">
      <Image
        class="absolute start-0 top-0 size-full rounded-xl object-cover"
        src={blogEntry.data.cardImage}
        alt={blogEntry.data.cardImageAlt}
        draggable={"false"}
        loading={"eager"}
        format={"avif"}
      />
    </div>
  </div>
  <!-- Container for the blog post's heading, author avatar, author's role, and read more button -->
  <div class="sm:order-1">
    <!-- Blog title which is also a hyperlink to the blog detail page  -->
    <h2
      class="text-balance text-xl tracking-tight text-gray-700 md:text-2xl lg:text-3xl lg:leading-tight xl:text-4xl xl:leading-tight"
    >
      <a
        class="outline-hidden ring-zinc-500 transition duration-300 hover:text-[#C71D7F] focus-visible:ring-3 dark:text-neutral-300 dark:ring-zinc-200 dark:hover:text-neutral-50 dark:focus:outline-hidden"
        href={recentBlogLocale && recentBlogLocale !== "en" ? `/${recentBlogLocale}/blog/${blogEntry.id.replace(/^fr\//, '')}/` : `/blog/${blogEntry.id.replace(/^en\//, '')}/`}
      >
        {blogEntry.data.description}
      </a>
    </h2>
    <!-- Author info -->
    <div class="mt-6 space-y-6 sm:mt-10">
      <div class="flex items-center gap-x-3">
        <AvatarBlogLarge blogEntry={blogEntry} />
        <div>
          <span class="block text-[16px] font-normal text-neutral-700 dark:text-neutral-300">
            {blogEntry.data.author}
          </span>
          <p class="text-xs text-neutral-500 dark:text-neutral-400">
            Creative Designer | Web Developer
          </p>
        </div>
      </div>

      <div class="h-px w-full bg-neutral-300 dark:bg-neutral-700"></div>
    </div>
    <!-- Book a call button linking to the contact page -->
    <div class="mt-5">
      <PrimaryCTA
        url={recentBlogLocale && recentBlogLocale !== "en" ? `/${recentBlogLocale}/contact/` : "/contact"}
        title="Book a call"
        data-astro-prefetch
      />
    </div>
  </div>
</div>
